.container {
  padding: 20px;
  background-color: grey;
}

.chart-container {
  padding: 20px;
  box-sizing: border-box;
  width: 70%;
  float: left;
  margin-top: 20px;
}

.text{
  font-size: 12px;
  box-sizing: border-box;
  width: 70%;
  float: left;
  margin-top: 20px;
  margin-bottom: 40px;
}

a{
  color: hotpink;
}

a:hover {
  color: grey;
}

a:link {
  text-decoration: none;
}


h1 {
  text-align: left;
  color: white;
}

.chart-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 22px;
  text-align: left;
  margin-bottom: 20px;
}

.search-container {
  margin-bottom: 10px;
}

#search-input {
  width: 70%;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-container {
  margin-bottom: 10px;
}

#indicator-dropdown {
  width: 100%;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
